.xoqt-interaction {
  border: 2px solid green;
  padding: 5px;
}
.gap {
  border: 2px solid red;
  padding 5px;
}

.sortable { list-style-type: none; margin: 0; padding: 0; }
.sortable li { 
    background: url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal; 
    float:left; clear:left;
}
.sortable li span { position: absolute; margin-left: -1.3em; }
.associate-t {color: green;}
.associate-f {color: red;}
