.filter {
    float: right;
    font-size: 85%;
    color: #9a9a9b;
}
div.post {
    /* clear: both; */
    background: #f8f8f8;
}
.post p.auth {
    padding: 0 0 0 12px;
    font-size: 85%;
    margin-left: 10px;
    font-weight: bold;
    color: #9a9a9b;
    background: url(/resources/xowiki/bracket.gif) no-repeat;
}

.post .more {
    color: #9a9a9b;
}

.post h2 {
    font: normal 140%/1.3em Arial, Verdana, Helvetica, sans-serif;
}
	
.post h2 a {
    text-decoration: none;
    border: none;
}

.post {	
    font-size: 90%;	
}