* {
    box-sizing: border-box;
}

/* Chat container */
#xowiki-chat-container {
    height: 70vh;
    width: 100%;
    position: relative;
}

/* Chat includelet */
#xowiki-chat-includelet {
    height: 700px;
    width: 100%;
    position: relative;
}

/* Users and messages container */
#xowiki-chat {
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
    overflow: hidden;
    display: flex;
    background-color: white;
}

#xowiki-chat-fs {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1031;
}

/* Users block */
#xowiki-chat-users {
    border: 1px solid #ddd;
    border-left: none;
    overflow: auto;
    order: 2;
    display: flex;
    flex-direction: column;
    min-width: 240px;
}

#xowiki-chat-users .xowiki-chat-user-link {
    text-decoration: none;
}

#xowiki-chat-users .xowiki-chat-user-block {
    padding: 18px 10px 18px 16px;
    border-bottom: 1px solid #ddd;
}

#xowiki-chat-users .xowiki-chat-user-block:hover {
    background-color: rgb(235,235,235);
}

#xowiki-chat-users .xowiki-chat-user-block:after {
    clear: both;
    height: 0;
    width: 100%;
    content: '';
    display: block;
}

#xowiki-chat-users .xowiki-chat-user-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid;
    padding: 3px;
    margin-right: 15px;
}

#xowiki-chat-users .xowiki-chat-user-pic-wrap {
    float: left;
}

#xowiki-chat-users .xowiki-chat-user {
    font-weight: bold;
}

#xowiki-chat-users .xowiki-chat-timestamp {
    color: rgb(152,152,152);
}

/* Messages block */
#xowiki-chat-messages-and-form {
    width: 100%;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: flex-end;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    min-width: 0; /* See https://github.com/philipwalton/flexbugs/issues/39 */
}

#xowiki-chat-messages {
    padding: 10px;
    height: 100%;
    overflow: auto;
    order: 1;
}

#xowiki-chat-messages .xowiki-chat-user-block {
    float: left;
}

#xowiki-chat-messages .xowiki-chat-user-block-me {
    float: left;
}

#xowiki-chat-messages .xowiki-chat-user {
    white-space: nowrap;
}

#xowiki-chat-messages .xowiki-chat-message {
    padding: 10px;
}

#xowiki-chat-messages .xowiki-chat-message-me {
    padding: 10px;
}

#xowiki-chat-messages .xowiki-chat-timestamp {
    color: rgb(152,152,152);
    float: right;
}

#xowiki-chat-messages .xowiki-chat-timestamp-me {
    /* color: yellow; */
    color: rgb(152,152,152);
    float: right;
    /* font-size: 65%; */
}

#xowiki-chat-messages .xowiki-chat-message-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#xowiki-chat-messages .xowiki-chat-message-block-me:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Send form */
#xowiki-chat-messages-form-block {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
    min-height: 80px;
    display: flex;
    align-items: center;
    order: 2;
}

#xowiki-chat-messages-form {
    width: 100%;
    display: flex;
    align-items: center;
}

#xowiki-chat-send {
    /* font-size: 24px; */
    height: 48px;
    flex-grow: 2;
    padding-left: 10px;
    border: 0;
    outline: none;
    background-color: #eceff1;
    border-radius: 8px;
    padding-right: 45px;
    min-width: 0; /* Avoid overlapping when screen width is very small */
}

#xowiki-chat-send-button {
    cursor: pointer;
    height: 35px;
    width: 35px;
    min-width: 35px;
    border-radius: 50%;
    border: 0 !important;
    margin-left: -40px;
    margin-right: 15px;
    padding: 0 8px 0 8px;
    background: #05728f none repeat scroll 0 0;
}

#xowiki-chat-send-button:hover {
    background: #05958f none repeat scroll 0 0;
}

#xowiki-chat-messages-send-pic {
    display: block;
    margin: auto;
    stroke: white;
    fill: none;
}

/* Full screen trigger */
.xowiki-chat-trigger-fs-block {
    min-width: 0; /* Avoid overlapping when screen width is very small */
}

.xowiki-chat-trigger-fs-pic {
    width: 40px;
    height: 40px;
    fill: #b3b3b3;
}

.xowiki-chat-trigger-fs-pic:hover {
    background-color: white;
    border: 1px solid white;
}

/* Responsive design */
@media (max-width: 1000px) {
    #xowiki-chat {
        flex-direction: column;
    }
    #xowiki-chat-fs {
        flex-direction: column;
    }
    #xowiki-chat-users {
        order: 1;
        border-left: 1px solid #ddd;
        border-bottom: none;
        flex-direction: row;
        overflow-x: auto;
    }
    #xowiki-chat-users .xowiki-chat-user-block {
        border-right: 1px solid #ddd;
        border-bottom: none;
        min-width: 240px;
    }
    #xowiki-chat-messages-and-form {
        width: 100%;
        order: 2;
        height: 80%;
        flex: 1 1 auto;
    }
}
